# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - strapptest

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: stapptest.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_811B3FD7A0F042EBBF89B69824265372 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_A1418BF9D47E47C788177BB17F969726 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: stapptest.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_811B3FD7A0F042EBBF89B69824265372 }}/atapp:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'strapptest'
          slot-name: 'Production'
          images: 'stapptest.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_811B3FD7A0F042EBBF89B69824265372 }}/atapp:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_CBDEBC0AFA1243B4BBB5879F9893897D }}